[Unit]
Description=Jenkins
Requires=docker.service
After=docker.service

[Service]
Restart=always
#ExecStart=/usr/bin/docker run --restart=on-failure --detach --network jenkins --publish 8080:8080 --publish 50000:50000 -v /home/jenkins_home:/var/jenkins_home -v /var/run/docker.sock:/var/run/docker.sock myjenkins-blueocean:2.387.1-1 
ExecStart=/usr/bin/docker run --restart=on-failure --detach --network jenkins --publish 8080:8080 --publish 50000:50000 -v /var/run/docker.sock:/var/run/docker.sock myjenkins-blueocean:2.387.1-1 

[Install]
WantedBy=multi-user.target